@charset 'UTF-8';

section#login{
    width: 950px;
    height: 400px;
}

div#imagem{
    float: right;
    width: 50%;
    height: 100%;
    border-radius: 0 17px 17px 0;
}

div#formulario{
    float: left;
    width: 50%;
    height: 100%;
}

div#formulario > h1{
    font-size: 2em;
}

div#formulario > p{
    font-size: 1em;
}

input#iemail, input#isenha{
    width: 89%;
}