@charset 'UTF-8';

/* Paleta de cores
    Cor 1: #B24F3A
    Cor 2: #1B2F3A
    Cor 3: #0C171D
    Cor 4: Branco
    Cor 5: Preto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: #1B2F3A;
}

main{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 530px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #0c171dd5;
}

div#imagem{
    height: 200px;
    background: white url('../imagens/pattern-building.jpg') center center/cover no-repeat fixed;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

div#formulario{
    text-align: center;
}

div#formulario > h1{
    font-size: 1.6em;
    padding: 12px 0;
}

div#formulario > p{
    padding: 0px 5px 5px;
    font-size: 0.8em;
}

form{
    display: inline-block;
    margin: auto;
    padding: 0px 5px;
}


form > input{
    display: block;
}


div#campo-email, div#campo-senha{
    width: 260px;
    height: 40px;
    background-color: #1B2F3A;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
}

span#icone{
    color: white; 
    font-size: 2.5em;
    position: relative;
    top: -8px;
    left: -1%;
}

input#iemail, input#isenha{
    position: relative;
    top: -23px;
    left: 0px;
    width: 198px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
    border: none;
}

input#botao-entrar{
    background-color: #B24F3A;
    color: white;
}

input#botao-senha{
    color: #1B2F3A;
}

input#botao-entrar, input#botao-senha{
    font-size: 1em;
    text-align: center;
    width: 260px;
    height: 40px;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #0C171D;
}

input#botao-entrar:hover{
    background-color: #7c3628;
}

input#botao-senha:hover{
    background-color: #1B2F3A;
    color: white;
}

