@charset 'UTF-8';

/* Paleta de cores
    Cor 1: #B24F3A
    Cor 2: #1B2F3A
    Cor 3: #0C171D
    Cor 4: Branco
    Cor 5: Preto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: #1B2F3A;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 520px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0c171dd5;
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

div#imagem{
    display: block;
    height: 200px;
    background: white url('../imagens/pattern-building.jpg') center center/cover no-repeat;
    border-radius: 17px 17px 0 0;
}

div#formulario{
    display: block;
    padding: 10px;
    text-align: center;
}

div#formulario > h1{
    font-size: 1.6em;
    margin-bottom: 10px;
}

div#formulario > p{
    padding-bottom: 10px;
    font-size: 0.8em;
}

form > input{
    display: block;
    margin: auto;
}


div.campos{
    width: 100%;
    height: 40px;
    background-color: #1B2F3A;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
}

span#icone{
    color: white; 
    font-size: 2.5em;
    position: relative;
    top: -8px;
    left: -1px;
}

input#iemail, input#isenha{
    position: relative;
    top: -23px;
    left: 0px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
    border: none;
}

input#botao-entrar{
    background-color: #B24F3A;
    color: white;
}

input#botao-senha{
    color: #1B2F3A;
}

input#botao-entrar, input#botao-senha{
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #0C171D;
}

input#botao-entrar:hover{
    background-color: #7c3628;
}

input#botao-senha:hover{
    background-color: #1B2F3A;
    color: white;
}

