@charset 'UTF-8';

body{
    position: relative;
    background-image: linear-gradient(to top, #B24F3A, #1B2F3A, #0C171D);
}

section#login{
    width: 720px;
    height: 400px;
}

div#imagem{
    float: left;
    width: 30%;
    height: 100%;
}

div#formulario{
    float: right;
    width: 70%;
    height: 100%;
}

div#campo-email, div#campo-senha{
    width: 450px;
}

input#iemail, input#isenha{
    width: 380px;
}

input#botao-entrar, input#botao-senha{
    width: 450px;
}